h1 {
    color: rgb(0, 136, 255);
    font-family: 'Courier New', Courier, monospace;
}
.weather{
   background-color: aliceblue;
   margin: 50px auto;
   padding: 50px;
   max-width: 400px;
   border-radius: 15px;
   box-shadow: 0 20px 50px ;
   
}