h1 {
    justify-content: space-between;
    color: rgba(144, 212, 238, 0.993);
    font-family: 'Courier New', Courier, monospace;
    padding: 10px 10px 10px 0px;
    margin-bottom: 0px;
    line-height: 20px;
}

.weather {
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color:rgba(202, 231, 242, 0.993);
    margin: 50px auto;
    padding: 30px;
    max-width: 700px;

    border-radius: 15px;
    box-shadow: 0 20px 50px;

}
main{
    padding:30 0 0 0px;
}


.search-input {
    background-color: azure;
    border-radius: 9px;
    padding: 4px 4px;
    width: 80%;   
}

.search-button {
    background-color: azure;
    padding: 4px;
    border-radius: 14px;
}
.main-section{
    display: flex;
    justify-content: space-between
}
.temperature{
    display: flex;
   flex-direction: row;
    align-items: center;
    justify-content: center;  
}

.temperature-value, .weather-icon, .weather-temperature-unit{
    display: flex;
    color: rgba(144, 212, 238, 0.993);
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        font-size: 80px;
   margin: 0;
   padding: 0; 
}


.weather-app-details {
    padding: 10px 10px 10px 105px;
}

.weather-app-details strong{
color: rgb(247, 152, 203);

}
.date{
    padding-top: 0%;
    margin-top: 0%;
}
a {
    color:rgb(247, 152, 203);
}
footer{
    border-top: 1px solid rgba(189, 236, 255, 0.993);
    padding: 30px 0 0 0 0;
    color: rgba(181, 226, 244, 0.993);
    text-align: center;
    font-size: 15px;
}
